* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato;
}

html,
body {
  height: 100%;
}

.clear {
  clear: both;
}

.center {
  max-width: 1100px;
  padding: 0;
  margin: 0 auto;
}

.clear {
  clear: both;
}

.header {
  background-color: rgb(60, 60, 173);
  padding: 0 2%;
}

.logo {
  color: white;
  font-size: 23px;
  float: left;
}

.fomr-login {
  float: right;

}